<h1>Add a subject</h1>
<div class="mui-container-fluid">
    <div class="mui-row">
        <div class="mui-col-md-10">
            <div class="mui-textfield mui-textfield--float-label">
                <input type="text" id="subject" autocomplete="off">
                <label>Add a subject</label>
            </div>
        </div>
        <div class="mui-col-md-2">
            <button class="mui-btn mui-btn--raised mui-btn--primary" onclick="add_a_subject()">Add</button>
        </div>
    </div>
</div>
