<div class="mui-container-fluid">
    <br>
    <div class="mui-row">
        <div class="mui-col-md-10">
            <div class="mui-textfield mui-textfield--float-label">
                <input type="text" id="question" autocomplete="off">
                <label>Add a question</label>
            </div>
        </div>
        <div class="mui-col-md-2">
            <button class="mui-btn mui-btn--raised mui-btn--primary" onclick="add_question()">Add</button>
        </div>
    </div>
    <div id="questions">
    </div>
</div>
